.header {
    text-align: center;
}

.collumn {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.row {
    padding: 10px;
    margin: 5px;
}

footer{
    text-align: center;
    padding: 3px;
    background-color: darksalmon;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.counter{
    text-align: center;
}
.fakta{
    text-align: center;
    padding-left: 250px;
    padding-right: 250px
}