body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a{
    cursor:pointer;
}

.site-content {
    flex: 1;
}

.header {
    text-align: center;
}

.collumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    padding: 10px;
    margin: 5px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: darksalmon;
    left: 0;
    bottom: 0;
    width: 100%;
}
.counter {
    text-align: center;
}
.fakta {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}

.faktaer {
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin: 20px;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

form {
    border-radius: 5px;
    padding: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="tel"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.HvadKanDuGøreImg {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.HvadKanDuGøreDiv{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.bulletpoints {
    text-align: center;
    list-style: inside;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.listclass {
    padding-bottom: 30px;
}

.HvadKanDuGøreBP {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}