body {
    font-family: Calibri, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background: lightgray;
}

a{
    cursor:pointer;
    text-decoration-line: none;
    color:#000;
}
a:hover{
    color:#666;
}

.header {
    text-align: center;
}

.collumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    background: dimgrey;
    color: black;
    border: none;
    border-radius: 4px;

}
.content{
    flex:1;
}
footer {
    text-align: center;
    background-color: dimgrey;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink:0;
    margin: 0;
}
.countertext {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #cccccc;
}

.counterborder {
    width: 48%;
    background-color: darkgreen;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: none;
    margin-left: 480px;
    margin-top: 30px;

}

.fakta {
    text-align: center;
    width: 50%;
    margin: auto;
    line-height: 30px;
}
.fakta p{
    text-align: left;
}

.faktaer {
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin: 20px;
    line-height: 30px;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: none;
    border-radius: 4px;
}

form {
    border-radius: 5px;
    padding: 20px;
    width: 800px;



}

.background {
    background: darkgreen;
    border-radius: 5px;
    width: 850px;
    margin-left: 525px;
    border: none;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="phone"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formtext {
    color: #cccccc;
    font-size: 20px;

}

.HvadKanDuGøreImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;

}
.HvadKanDuGøreDiv{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.bulletpoints {
    list-style: inside;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.listclass {
    padding-bottom: 30px;
}

.HvadKanDuGøreBP {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;

}

.henvendelse{
    text-align: center;
    padding-left: 100px;
    height: 200px;
    color: #cccccc;
    font-size: 25px;
    font-weight: bold;
    width: 650px;
}
.HKDGTEKST {
    font-size: 20px;

}

