<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HvadKanDuGøre</title>
  <link th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body>
<a href="/">
  <img class = "banner" th:src="@{img/unknown.png}" src="../static/img/unknown.png" alt="banner">
</a>

<div class="collumn">
  <a href="http://localhost:8080/" class="row">Hvad er madspild?</a>
  <a href="http://localhost:8080/mt" class="row">Madspild i tal</a>
  <a href="http://localhost:8080/hkdg" class="row">Hvad kan du gøre?</a>
  <a href="http://localhost:8080/kontakt" class="row">Kontakt os</a>
</div>
<h1 class="header">Hvad kan du gøre?</h1>

<img class = HvadKanDuGøreImg th:src="@{img/I-butikken.jpg}" src="../static/img/I-butikken.jpg" alt="butikken">
<div class = HvadKanDuGøreDiv>
  <p class = "HKDGTEKST">1. I supermarkedet: Indkøb kun den mængde mad, du har brug for.</p>
</div>
<img class = HvadKanDuGøreImg th:src="@{img/Madlavningen.jpg}" src="../static/img/Madlavningen.jpg" alt="madlavning">
<div class = HvadKanDuGøreDiv>
  <p class = "HKDGTEKST">2. I køkkenet: Tilbered kun den mængde mad, du/I kan spise..</p>
</div>
<img class = HvadKanDuGøreImg th:src="@{img/Opbevaring.jpg}" src="../static/img/Opbevaring.jpg" alt="opbevaring">
<div class = HvadKanDuGøreDiv>
  <p class = "HKDGTEKST">3. Efter et måltid: Hvis du alligevel lavede for meget mad, skal maden i fryseren til en anden dag eller i køleskabet og spises dagen efter.</p>
</div>

<h3 style="text-align: center"> Yderligere inspiration til dig. En række forhold vil kunne hjælpe dig i de tre situationer:</h3>

<div class="faktaer">
  <div>
    <ul class = bulletpoints>
      <li class = listclass>   Det er vigtigt at få madrester hurtigt i fryseren eller i køleskabet. Hold styr på madresterne i din fryser ved hjælp af etiketter med dato og indhold.</li>
      <li class = listclass>   Tænk over, hvordan rester kan genbruges i andre retter.</li>
      <li class = listclass>  Lav mad til flere dage - en hovedret kan blive til en forret dagen efter.</li>
      <li class = listclass>   Skab et bedre overblik over hvad du spiser ved at lave en madplan.</li>
      <li class = listclass>   Skær altid emballagen op for at få de sidste madrester ud.</li>
      <li class = listclass>    Opbevar maden rigtigt.</li>
      <li class = listclass>  Hold orden i dit køleskab: de ældste fødevarer skal stå forrest.</li>
      <li class = listclass>   Til en middag eller en buffet: Lad være med at stille al maden frem på bordet på een gang. Maden holder sig bedre og længere, når den opbevares i køleskabet. Der er for eks. ingen grund til at stille den hele ost frem, hvis man kan nøjes med den halve - man kan altid tage den anden halvdel på bordet senere hen.</li>
      <li class = listclass>  Hvert år ved høsttiden går der desværre tonsvis af frugt til spilde, fordi ejerne ikke plukker eller opsamler dem. Vi opfordrer danske haveejere til at plukke og forære eller sælge overskydende frugt, så det ikke går til spilde. Fødevarestyrelsen oplyser at det er tilladt at sælge overskydende frugt. Ifølge Landbrug & Fødevarer produceres der årligt omkring 10 mio. kilo pærer og æbler i vores private haver - og at kun halvdelen bliver spist af mennesker. Resten - svarende til en værdi af 50 mio. kr. omsat til priser hos dansk detailhandel - går til spilde.</li>
    </ul>>
  </div>
  <div style="margin-left: 20px;">
    <ul class = bulletpoints>
      <li class = listclass>  Væn dig til at gennemtænke din indkøb og behov, INDEN du køber ind, så du undgår impulsindkøbte madvarer, du ikke når at få brugt.</li>
      <li class = listclass>  Når du køber mad ind: Køb kun dét du har brug for og brug dét du har købt. </li>
      <li class = listclass>    Hav altid en indkøbsseddel med, når du køber ind og planlæg dine indkøb hjemmefra. </li>
      <li class = listclass>    Køb ind med hovedet og ikke med maven. </li>
      <li class = listclass>   Inden du falder for stykrabatter eller mængderabatter i supermarkederne: Vær sikker på, at du får brugt og spist al maden.</li>
      <li class = listclass>  I supermarkedet: Når du alligevel skal bruge og spise maden samme dag, kan du altid købe de fødevarer, der er tættest på udløbsdatoen.</li>
      <li class = listclass>   I køkkenet skal du blive bedre til at planlægge - INDEN madlavningen. Gennemtænk hvor meget hver enkelt person i husholdningen spiser. Tænk over, om du ALTID laver for meget spaghetti, ris og kartofler, osv. Og lav så mindre.</li>
      <li class = listclass>   Tænk over portionsstørrelser inden du laver mad.</li>
      <li class = listclass>   Har du købt for store mændger kød, brød, osv, kan du altid dele maden op i portionsstørrelser og fryse den ned.</li>
    </ul>
  </div>
</div>
<footer>
  <p>
    &copy; 2020 Author: Thomas West, Abdulahi Roble, Robert Braimi Pedersen, Peter Schmidt
  </p>
  <p>
    <a href="mailto: kontakt@madspild.dk"
    >Mail to: kontakt@madspildErGODT.dk</a
    >
  </p>
</footer>
</body>
</html>