<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../Static/style.css" rel="stylesheet" >
</head>
<body>
 <h1 class="header"> MADSPILD </h1>
<div class = "collumn">
    <div class="row">
        madspild
    </div>
    <div class="row">
        hvad kan du gøre abi
    </div>
    <div class="row">
        112 bar ring
    </div>
</div>
 <div class = "counter">
     COUNTER STRIKE
 </div>
<footer>
    <p>
        Author: Thomas West, Abdulahi Roble, Robert Braimi Pedersen
    </p>
    <p>
        <a href = "Mail to: kontakt@madspildErGODT.dk"></a>
    </p>
</footer>
</body>
</html>