<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title></title>
  <link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<img class = "banner" th:src="@{img/unknown.png}" src="../static/img/unknown.png">
<div class="collumn">
  <a href="http://localhost:8080/" class="row">Hvad er madspild?</a>
  <a href="http://localhost:8080/mt" class="row">Madspild i tal</a>
  <a href="http://localhost:8080/hkdg" class="row">Hvad kan du gøre?</a>
  <a href="http://localhost:8080/kontakt" class="row">Kontakt os</a>
</div>
<div class="counter">COUNTER STRIKE</div>
<div class="fakta">
  <h3>Fakta</h3>
  <p>
    Madspild er et stort problem i Danmark. Vi er Danmarks største bevægelse
    mod madspild. Vi bragte fokus på madspild i Danmark og vi bragte
    Danmarks kamp mod madspild på verdenskortet. Stop Spild Af Mad er en
    non-profit, frivillig forbrugerbevægelse, som kæmper mod madspild og
    siden 2008 har medvirket til at bringe massivt fokus på madspild i
    Danmark samt opnået en lang række resultater i både Danmark og i
    samarbejde med EU, Norden og FN. Danmark genererer et årligt madspild på
    mange hundrede tusind tons - det kæmper vi for at stoppe. Vi bakkes op
    af mange tusinde danskere samt en lang række toneangivende toppolitikere
    og anerkendte madpersonligheder, som ikke vil finde sig i madspild. Vil
    du med i kampen mod madspild?
  </p>
</div>
<footer>
  <p>Author: Thomas West, Abdulahi Roble, Robert Braimi Pedersen, Peter Lyck Shmidt</p>
  <p>
    <a href="Mail to: kontakt@madspildErGODT.dk"></a>
  </p>
</footer>
</body>
</html>