<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../Static/style.css" rel="stylesheet" />
    <title>Kontakt os</title>
  </head>
  <body>
    <div class="site-content">
      <img class="banner" src="../img/unknown.png" />
      <div class="collumn">
        <a href="index.html" class="row">Hvad er madspild?</a>
        <a href="madspildITal.html" class="row">Hvad kan du gøre?</a>
        <a href="kontakt.html" class="row">Kontakt os</a>
      </div>

      <h1 class="header">Kontakt</h1>

      <div class="form">
        <h3 style="text-align: center">Udfyld formularen for at kontakte os</h3>
        <form action="/">
          <label for="fname">First name:</label><br />
          <input type="text" id="fname" name="fname" /><br />
          <label for="lname">Last name:</label><br />
          <input type="text" id="lname" name="lname" /><br /><br />

          <label for="fname">Email:</label><br />
          <input type="email" id="fname" name="fname" /><br />

          <label for="fname">Phone:</label><br />
          <input type="phone" id="fname" name="fname" /><br />

          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>

    <footer>
      <p>
        &copy; 2020 Author: Thomas West, Abdulahi Roble, Robert Braimi Pedersen
      </p>
      <p>
        <a href="Mail to: kontakt@madspildErGODT.dk"></a>
      </p>
    </footer>
  </body>
</html>
