<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Madspild i tal</title>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
  <img class = "banner" th:src="@{img/unknown.png}" src="../static/img/unknown.png">
    <div class="collumn">
      <a href="index.html" class="row">Hvad er madspild?</a>
      <a href="madspildITal.html" class="row">Hvad kan du gøre?</a>
      <a href="kontakt.html" class="row">Kontakt os</a>
    </div>

    <div class="faktaer">
      <div>
        <h3>Reducering af madspild</h3>
        <p>
          Danskerne har reduceret madspild. 14.000 ton madspild - så meget har
          danskerne reduceret deres madspild fra 2011 til 2017. Danskerne, som
          bor i etageboliger har reduceret madspild med 24% per person, mens
          madspildet i enfamiliehusene er derimod uændret. Samlet har danske
          husholdninger reduceret madspild med 8% per person i løbet af de
          seneste seks år. Alle danske husholdninger havde et madspild på
          261.000 ton i 2011/2012 - og dette er faldet til 247.000 ton i 2017.
        </p>
      </div>
      <div style="margin-left: 20px; margin-left: 20px">
        <h3>Reducering af madspild</h3>
        <p>
          Danskerne har reduceret madspild. 14.000 ton madspild - så meget har
          danskerne reduceret deres madspild fra 2011 til 2017. Danskerne, som
          bor i etageboliger har reduceret madspild med 24% per person, mens
          madspildet i enfamiliehusene er derimod uændret. Samlet har danske
          husholdninger reduceret madspild med 8% per person i løbet af de
          seneste seks år. Alle danske husholdninger havde et madspild på
          261.000 ton i 2011/2012 - og dette er faldet til 247.000 ton i 2017.
        </p>
      </div>
      <div>
        <h3>Reducering af madspild</h3>
        <p>
          Danskerne har reduceret madspild. 14.000 ton madspild - så meget har
          danskerne reduceret deres madspild fra 2011 til 2017. Danskerne, som
          bor i etageboliger har reduceret madspild med 24% per person, mens
          madspildet i enfamiliehusene er derimod uændret. Samlet har danske
          husholdninger reduceret madspild med 8% per person i løbet af de
          seneste seks år. Alle danske husholdninger havde et madspild på
          261.000 ton i 2011/2012 - og dette er faldet til 247.000 ton i 2017.
        </p>
      </div>
    </div>
    <footer>
      <p>Author: Thomas West, Abdulahi Roble, Robert Braimi Pedersen</p>
      <p>
        <a href="Mail to: kontakt@madspildErGODT.dk"></a>
      </p>
    </footer>
  </body>
</html>
