<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Madspild i tal</title>
  <link th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body>
<a href="/">
  <img class = "banner" th:src="@{img/unknown.png}" src="../static/img/unknown.png" alt="banner">
</a>

<div class="content">
<div class="collumn">
  <a href="http://localhost:8080/" class="row">Hvad er madspild?</a>
  <a href="http://localhost:8080/mt" class="row">Madspild i tal</a>
  <a href="http://localhost:8080/hkdg" class="row">Hvad kan du gøre?</a>
  <a href="http://localhost:8080/kontakt" class="row">Kontakt os</a>
</div>

<div class="faktaer">
  <div>
    <h3>Reducering af madspild</h3>
    <p>
      Danskerne har reduceret madspild. 14.000 ton madspild - så meget har
      danskerne reduceret deres madspild fra 2011 til 2017. Danskerne, som
      bor i etageboliger har reduceret madspild med 24% per person, mens
      madspildet i enfamiliehusene er derimod uændret. Samlet har danske
      husholdninger reduceret madspild med 8% per person i løbet af de
      seneste seks år. Alle danske husholdninger havde et madspild på
      261.000 ton i 2011/2012 - og dette er faldet til 247.000 ton i 2017.
    </p>
  </div>
  <div style="margin-left: 20px;">
    <h3>Reducering af madspild</h3>
    <p>
      Danskerne har reduceret madspild. 14.000 ton madspild - så meget har
      danskerne reduceret deres madspild fra 2011 til 2017. Danskerne, som
      bor i etageboliger har reduceret madspild med 24% per person, mens
      madspildet i enfamiliehusene er derimod uændret. Samlet har danske
      husholdninger reduceret madspild med 8% per person i løbet af de
      seneste seks år. Alle danske husholdninger havde et madspild på
      261.000 ton i 2011/2012 - og dette er faldet til 247.000 ton i 2017.
    </p>
  </div>
  <div>
    <h3>Reducering af madspild</h3>
    <p>
      Danskerne har reduceret madspild. 14.000 ton madspild - så meget har
      danskerne reduceret deres madspild fra 2011 til 2017. Danskerne, som
      bor i etageboliger har reduceret madspild med 24% per person, mens
      madspildet i enfamiliehusene er derimod uændret. Samlet har danske
      husholdninger reduceret madspild med 8% per person i løbet af de
      seneste seks år. Alle danske husholdninger havde et madspild på
      261.000 ton i 2011/2012 - og dette er faldet til 247.000 ton i 2017.
    </p>
  </div>
</div>
<div>
  <div>
    <p th:text="${foodWaste}"></p>
  </div>

</div>
</div>

<footer>
  <p>Author: Thomas West, Abdulahi Roble, Robert Braimi Pedersen</p>
  <p>
    <a href="mailto: kontakt@madspild.dk">Mail to: kontakt@madspildErGODT.dk</a>
  </p>
</footer>
</body>
</html>