<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild i tal</title>
    <link href="../Static/style.css" rel="stylesheet" >
</head>
<body>
<img class = "banner" src="../img/unknown.png">
<div class = "collumn">
    <div class="row">
        madspild
    </div>
    <div class="row">
        hvad kan du gøre abi
    </div>
    <div class="row">
        112 bar ring
    </div>
</div>
<p><h2> muchos gracias</h2></p>

<div>
    <div>
        fakta1
    </div>
    <div>
        fakta1
    </div>
    <div>
        fakta1
    </div>
</div>
</body>
</html>