<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <title>Kontakt os</title>
</head>
<body>
<div class="site-content">
    <img class = "banner" th:src="@{img/unknown.png}" src="../static/img/unknown.png">
    <div class="collumn">
        <a href="index.html" class="row">Hvad er madspild?</a>
        <a href="madspildITal.html" class="row">Hvad kan du gøre?</a>
        <a href="kontakt.html" class="row">Kontakt os</a>
    </div>

    <h1 class="header">Kontakt</h1>

    <div class ="henvendelse">
        <p>Tak for din henvendelse, vi vender tilbage hurtigst muligt.</p>
    </div>
</div>

<footer>
    <p>
        &copy; 2020 Author: Thomas West, Abdulahi Roble, Robert Braimi Pedersen
    </p>
    <p>
        <a href="Mail to: kontakt@madspildErGODT.dk"></a>
    </p>
</footer>
</body>
</html>